<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<f:metadata>
	<f:viewParam name="userId" value="#{editUserManagedBean.userId}" />
	<f:viewAction action="#{editUserManagedBean.onLoad}" />
</f:metadata>

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">
		<h:link class="backButton" outcome="/authentifiziert/benutzer.xhtml">
			<span class="glyphicon glyphicon-arrow-left" /> Zurück zur Benutzerverwaltung
		</h:link>

		<div class="formContainer">
			<h3>Benutzer #{editUserManagedBean.editedUser.username}
				bearbeiten</h3>
			<h:form id="editUserForm">

				<h:messages id="editedUserMessages" class="errorMessages"
					showDetail="true" showSummary="false" />

				<div class="form-group">
					<h:outputLabel for="username" value="Benutzername:" />
					<p:inputText class="inputText" id="username"
						value="#{editUserManagedBean.editedUser.username}" required="true"
						requiredMessage="Der Benutzername darf nicht leer sein!" />
				</div>

				<div class="form-group">
					<h:outputLabel for="editUserPermissionList" value="Berechtigungen:" />
					<p:selectManyCheckbox id="editUserPermissionList"
						class="inputManyCheckboxes"
						value="#{editUserManagedBean.editedUser.permissions}"
						layout="pageDirection" converter="permissionConverter"
						collectionType="java.util.ArrayList">
						<f:selectItems value="#{enumManagedBean.allPermissions}"
							var="permission" itemLabel="#{permission.toString()}"
							itemValue="#{permission}" />
					</p:selectManyCheckbox>
				</div>

				<h:commandLink class="btn btn-primary pull-right create-btn"
					action="#{editUserManagedBean.editUser}">
					Benutzer speichern
				</h:commandLink>

			</h:form>
		</div>
	</div>

	<sefb:footer />
	<sefb:js-footer />

</h:body>
</html>