<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">
		<h:link class="backButton" outcome="/authentifiziert/benutzer.xhtml">
			<span class="glyphicon glyphicon-arrow-left" /> Zurück zur Benutzerverwaltung
		</h:link>

		<div class="formContainer">
			<h3>Neuen Benutzer anlegen</h3>
			<h:form id="createUserForm">
			
				<h:messages id="newUserMessages" class="errorMessages"
						showDetail="true" showSummary="false" />

				<div class="form-group">
					<h:outputLabel for="username" value="Benutzername:" />
					<p:inputText class="inputText" id="username"
						value="#{createUserManagedBean.newUser.username}" required="true"
							requiredMessage="Der Benutzername darf nicht leer sein!"
							a:placeholder="Benutzername des neuen Benutzers"/>
				</div>

				<div class="form-group">
					<h:outputLabel for="password1" value="Passwort:" />
					<p:password class="inputText" id="password1"
						value="#{createUserManagedBean.password}" required="true"
							requiredMessage="Die Passwörter darf nicht leer sein!"
							a:placeholder="Passwort des neuen Benutzers"/>
				</div>

				<div class="form-group">
					<h:outputLabel for="password2" value="Passwort Wiederholung:" />
					<p:password class="inputText" id="password2"
						value="#{createUserManagedBean.passwordRepetition}"  required="true"
							requiredMessage="Die Passwörter darf nicht leer sein!"
							a:placeholder="Passwort des neuen Benutzers wiederholen"/>
				</div>

				<div class="form-group">
					<h:outputLabel for="createUserPermissionList"
						value="Berechtigungen:" />
					<p:selectManyCheckbox id="createUserPermissionList"
						class="inputManyCheckboxes" value="#{createUserManagedBean.newUser.permissions}"
						layout="pageDirection" converter="permissionConverter">
						<f:selectItems value="#{enumManagedBean.allPermissions}"
							var="permission" itemLabel="#{permission.toString()}"
							itemValue="#{permission}" />
					</p:selectManyCheckbox>
				</div>

				<h:commandLink class="btn btn-primary pull-right create-btn"
					action="#{createUserManagedBean.createUser}">
					Benutzer anlegen
				</h:commandLink>

			</h:form>
		</div>
	</div>
	
	<sefb:footer />
	<sefb:js-footer />
	
</h:body>
</html>