/*	Style for login / logout page.	*/

.loginFormContainer {
	background-color: #d4d4d4;
	background-size: cover;
    width: 100%;
    height: 100%;
	position: fixed;
	text-align: center;
}

.loginFormWindow {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 10px;
	display: inline-block;
	margin-top: 25px;
	text-align: left;
	padding: 1%;
    width: 40%;
}

.loginFormHeader {
	text-align: center;
}

.loginInput {
	width: 100%;
}

.loginBtn {
   min-width: 15%;	
}

.loginSefbLogo {
	display: inline-block;
	margin-top: 3%;
	width: 800px;
}

.loginFooter {
	width: 100%;
	position: fixed;
	bottom: 3%;
}
