body {
	min-height: 100vh;
	padding-bottom: 150px;
	position: relative;
}

.nav-container {
	width: 88%;
	margin: 0 6%;
}

.nav-container .navbar-brand {
	padding-left: 0;
}

.nav-glyph {
	margin-right: 5px;
}

.sefbLogoHeader {
	padding: 0;
}

.sefbLogoHeader .sefbLogoBrand {
	padding: 0;
	height: 60px;
}

.sefbLogo {
	height: 100%;
	width: auto;
}

.navbar-right {
	margin-top: 5px;
}

.underNavContainer {
	margin-top: 10px;
	padding: 2% 6%;
}

.backButton {
	margin-top: 5px;	
}

.errorMessages {
	background-color: rgba(217, 83, 79, 0.8);
	border-color: #d43f3a;
	border-radius: 4px;
	color: #fff;
	margin-bottom: 10px;
	padding: 2%;
	width: 100%;
}

.ui-message-error-icon {
	margin-top: 2px;
}

.ui-message-error-detail {
	font-style: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

.sideHeadline {
	margin-bottom: 3%;
}

.create-btn {
	position: absolute;
    right: 5%;
    bottom: 150px;
    min-width: 15%;
}

/*	Confirmation dialog	*/
.ui-confirmdialog-no {
	float: right;
	width: 20%;
}

.ui-confirmdialog-yes {
	float: right;
	width: 20%;
}

/* footer	*/

.footerContainer {
	width: 100%;
	height: 120px;
	padding: 2%;
	background-color:  #e7e7e7;
	text-align: center;
	position: absolute;
	bottom: 0;
}

.coorpLogo {
	width: 10%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-block;
}

.footerText {
	font-size: 10px;
	border-color: #e7e7e7;
	border-width: 0 0 1px;
}