<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h2 class="sideHeadline">Aktivitäten</h2>

		<h:form>
			<h:dataTable class="table table-hover" var="action"
				value="#{actionManagedBean.actions}"
				rendered="#{not empty actionManagedBean.actions}"
				columnClasses="iconColumn,executionDateColumn,activatorColumn,detailColumn">

				<h:column>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeObjCreated}">
						<span class="glyphicon glyphicon-plus" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeObjEdited}">
						<span class="glyphicon glyphicon-pencil" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeObjDeleted}">
						<span class="glyphicon glyphicon-trash" />
					</p:outputLabel>

					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventContinued}">
						<span class="glyphicon glyphicon-bookmark" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventRejected}">
						<span class="glyphicon glyphicon-pause" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventRevived}">
						<span class="glyphicon glyphicon-play" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventApproved}">
						<span class="glyphicon glyphicon-ok" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventCancelled}">
						<span class="glyphicon glyphicon-remove" />
					</p:outputLabel>
					<p:outputLabel
						rendered="#{action.actionType eq enumManagedBean.typeEventArchived}">
						<span class="glyphicon glyphicon-book" />
					</p:outputLabel>
				</h:column>

				<h:column>
					<f:facet name="header">Ausgeführt am</f:facet>
					<h:outputText value="#{action.executedOn}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">Ausgeführt von</f:facet>
					#{action.activator}
				</h:column>

				<h:column>
					<f:facet name="header">Detail</f:facet>
	    			 #{action.description}
				</h:column>
			</h:dataTable>

			<h4>
				<h:outputText value="Es sind keine Einträge vorhanden."
					rendered="#{empty actionManagedBean.actions}" />
			</h4>

		</h:form>


	</div>

	<sefb:footer />
	<sefb:js-footer />

</h:body>
</html>