<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h2 class="sideHeadline">Archiv</h2>

		<h:form id="archivedEventsTable">

			<h:dataTable class="table table-hover" var="event"
				value="#{archivedEventManagedBean.archivedEvents}"
				binding="#{dataTableManagedBean.htmlDataTable}"
				rendered="#{not empty archivedEventManagedBean.archivedEvents}">

				<h:column>
					<f:facet name="header">Veranstaltungsname</f:facet>  
	    			 #{event.eventname}
				</h:column>

				<h:column>
					<f:facet name="header">Beginn</f:facet>
					<h:outputText value="#{event.start}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">Ende</f:facet>
					<h:outputText value="#{event.end}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">Letzter Status</f:facet>
					<h:outputText value="#{event.lastStatus.toString()}" />
				</h:column>

				<h:column
					rendered="#{loginManagedBean.hasUserWritingPermission}">
					<f:facet name="header">Löschen</f:facet>
					<p:commandLink
						actionListener="#{archivedEventManagedBean.deleteEvent}" update="archivedEventsTable">
						<p:confirm header="Bestätigung"
							message="Sind Sie sicher, dass Sie die Veranstaltung #{event.eventname} endgültig löschen möchten?"/>
						<span class="glyphicon glyphicon-trash" />
					</p:commandLink>
				</h:column>

			</h:dataTable>

			<h4>
				<h:outputText value="Es sind keine Einträge vorhanden."
					rendered="#{empty archivedEventManagedBean.archivedEvents}" />
			</h4>
		</h:form>

	</div>
	
	<sefb:footer />
	<sefb:confirmationDialog />	
	<sefb:js-footer />
	
</h:body>
</html>