<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h2>Benutzerverwaltung</h2>
		<p class="sideHeadline">Hier können Sie alle Nutzer sehen und
			verwalten. Um die eigenen Rechte zu bearbeiten, müssen Sie die Änderungen von einem 
			anderen Account mit Administratorrechten aus vornehmen.</p>


		<h:form id="userSummaryTable">
			<h:dataTable class="table table-hover summaryTable" var="user"
				value="#{userManagedBean.allUsersExceptCurrent}"
				binding="#{dataTableManagedBean.htmlDataTable}"
				rendered="#{not empty userManagedBean.allUsersExceptCurrent}">

				<h:column>
					<f:facet name="header">Benutzername</f:facet>  
    				#{user.username}
				</h:column>

				<h:column>
					<f:facet name="header">Rechte</f:facet>
					<ui:repeat var="permission" value="#{user.permissions}">
							#{permission.toString()}<br />
					</ui:repeat>
				</h:column>

				<h:column>
					<h:commandLink action="#{userManagedBean.editUser}">
						<span class="glyphicon glyphicon-pencil" /> Bearbeiten
					</h:commandLink>
				</h:column>

				<h:column>
					<p:commandLink actionListener="#{userManagedBean.deleteUser}"
						update="userSummaryTable">
						<p:confirm header="Bestätigung"
							message="Sind Sie sicher, dass Sie den Benutzer #{user.username} endgültig löschen möchten?" />
						<span class="glyphicon glyphicon-trash" /> Löschen
					</p:commandLink>
				</h:column>

			</h:dataTable>

			<h4>
				<h:outputText value="Außer Ihnen gibt es keine anderen Benutzer."
					rendered="#{empty userManagedBean.allUsersExceptCurrent}" />
			</h4>

		</h:form>

		<h:link class="btn btn-primary pull-right create-btn"
			outcome="/authentifiziert/benutzer/neu.xhtml">
			<span class="glyphicon glyphicon-plus" /> Neuer Benutzer</h:link>

	</div>

	<sefb:footer />
	<sefb:confirmationDialog />
	<sefb:js-footer />

</h:body>
</html>