<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<f:metadata>
	<f:viewAction action="#{teststepManagedBean.onLoad}" />
</f:metadata>

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h2>Prüfschrittverwaltung</h2>

		<h:form id="newTeststepForm" class="newChildHeader">
			
			<h:messages id="newTeststepFormMessages" class="errorMessages"
					showDetail="true" showSummary="false"/>
			
			<p:outputLabel for="newTeststepInput" class="newChildHeaderEle">Prüfschrittname: </p:outputLabel>
			<p:inputText id="newTeststepInput" class="newChildHeaderEleInput"
				value="#{teststepManagedBean.newTeststep.teststepname}" required="true"
						requiredMessage="Der Prüfschrittname darf nicht leer sein!"
						a:placeholder="Name des neuen Prüfschritts"/>
			<h:commandLink class="btn btn-primary newChildHeaderBtn"
				action="#{teststepManagedBean.addTeststep}">Prüfschritt anlegen</h:commandLink>
		</h:form>


		<h:form id="allTeststeps">
			<h:dataTable class="table table-hover" var="teststep"
				value="#{teststepManagedBean.testprocessModel.teststeps}"
				binding="#{dataTableManagedBean.htmlDataTable}"
				rendered="#{not empty teststepManagedBean.testprocessModel.teststeps}">

				<h:column>
					<f:facet name="header">Name</f:facet>
					<h:outputText value="#{teststep.teststepname}" />
				</h:column>

				<h:column>
					<h:commandLink action="#{teststepManagedBean.openTeststep}">
						<span class="glyphicon glyphicon-eye-open" /> Öffnen
					</h:commandLink>
				</h:column>

				<h:column>
					<p:commandLink action="#{teststepManagedBean.deleteTeststep}"
						update="allTeststeps">
						<p:confirm header="Bestätigung"
							message="Sind Sie sicher, dass Sie den Prüfschritt #{teststep.teststepname} endgültig löschen möchten?" />
						<span class="glyphicon glyphicon-trash" /> Löschen
					</p:commandLink>
				</h:column>

			</h:dataTable>

			<h4>
				<h:outputText value="Es wurden bisher keine Prüfschritte angelegt."
					rendered="#{empty teststepManagedBean.testprocessModel.teststeps}" />
			</h4>

		</h:form>
	</div>

	<sefb:footer />
	<sefb:confirmationDialog />
	<sefb:js-footer />

</h:body>
</html>