<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h2 class="sideHeadline">Veranstaltungen</h2>

		<h:form id="eventTable">
			<p:outputLabel class="filterDropdownLabel" value="Filtern nach:"
				for="eventFilter" />
			<p:selectOneMenu id="eventFilter" class="filterDropdown"
				value="#{eventManagedBean.selectedEventStatus}">
				<f:selectItems value="#{enumManagedBean.allEventStatus}" var="status"
					itemLabel="Status &quot;#{status.toString()}&quot;" />
				<f:ajax render="eventTable" />
			</p:selectOneMenu>
			
			<h:dataTable class="table table-hover" var="event"
				value="#{eventManagedBean.filteredEvents}"
				binding="#{dataTableManagedBean.htmlDataTable}"
				rendered="#{not empty eventManagedBean.filteredEvents}"
				columnClasses="eventnameColumn,usernameColumn,startdateColumn,enddateColumn,editBtnColumn,otherBtnColumn,otherBtnColumn">

				<h:column>
					<f:facet name="header">Veranstaltungsname</f:facet>  
	    			 #{event.eventname}
				</h:column>

				<h:column>
					<f:facet name="header">Bearbeiter</f:facet>
					<h:outputText value="#{event.user.username eq null ? '' : event.user.username}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">Beginn</f:facet>
					<h:outputText value="#{event.start}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column>
					<f:facet name="header">Ende</f:facet>
					<h:outputText value="#{event.end}">
						<f:convertDateTime type="date" pattern="dd.MM.yyyy, HH:mm" />
					</h:outputText>
				</h:column>

				<h:column
					rendered="#{loginManagedBean.hasUserWritingPermission}">
					<h:commandLink action="#{eventManagedBean.editEvent}">
						<span class="glyphicon glyphicon-pencil" /> Bearbeiten
					</h:commandLink>
				</h:column>

				<h:column
					rendered="#{loginManagedBean.hasUserWritingPermission and eventManagedBean.selectedEventStatus eq enumManagedBean.rejected}">
					<h:commandLink action="#{eventManagedBean.reviveEvent}">
						<span class="glyphicon glyphicon-share-alt" /> In Prüfung nehmen
					</h:commandLink>
				</h:column>

				<h:column
					rendered="#{loginManagedBean.hasUserWritingPermission and  eventManagedBean.selectedEventStatus eq enumManagedBean.underExamination}">
					<h:commandLink action="#{eventManagedBean.openInTestProcessWizard}">
						<span class="glyphicon glyphicon-eye-open" /> Öffnen
					</h:commandLink>
				</h:column>

				<h:column
					rendered="#{loginManagedBean.hasUserWritingPermission and  
						(eventManagedBean.selectedEventStatus eq enumManagedBean.approved or eventManagedBean.selectedEventStatus eq enumManagedBean.cancelled)}">
					<p:commandLink action="#{eventManagedBean.archiveEvent}"
						update="eventTable">
						<p:confirm header="Bestätigung"
							message="Sind Sie sicher, dass Sie die Veranstaltung #{event.eventname} archivieren möchten?"/>
						<span class="glyphicon glyphicon-book" /> Archivieren
					</p:commandLink>
				</h:column>
			</h:dataTable>

			<h4>
				<h:outputText value="Es sind keine Einträge vorhanden."
					rendered="#{empty eventManagedBean.filteredEvents}" />
			</h4>

		</h:form>

		<h:link class="btn btn-primary pull-right create-btn"
			outcome="/authentifiziert/veranstaltungen/neu.xhtml"
			rendered="#{loginManagedBean.hasUserWritingPermission}">
			<span class="glyphicon glyphicon-plus" /> Neue Veranstaltung</h:link>
	</div>

	<sefb:footer />
	<sefb:confirmationDialog />
	<sefb:js-footer />
</h:body>
</html>