<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">
		<h:link class="backButton"
			outcome="/authentifiziert/veranstaltungen.xhtml">
			<span class="glyphicon glyphicon-arrow-left" /> Zurück zu den Veranstaltungen
		</h:link>

		<div class="formContainer">
			<div class="eventCreateFormContainer">
				<h3>Neue Veranstaltung anlegen</h3>
				<h:form id="createEventManagedBeanForm">

					<h:messages id="newEventMessages" class="errorMessages"
						showDetail="true" showSummary="false" />

					<div class="form-group">
						<p:outputLabel for="eventname" value="Veranstaltungsname:" />
						<p:inputText id="eventname" class="inputText" required="true"
							requiredMessage="Der Veranstaltungsname darf nicht leer sein!"
							value="#{createEventManagedBean.newEvent.eventname}" 
							a:placeholder="Name der neuen Veranstaltung"/>
					</div>

					<div class="form-group">
						<p:outputLabel for="start" value="Beginn:"/>
						<br />
						<p:calendar id="start" class="inputText"
							value="#{createEventManagedBean.newEvent.start}" locale="de"
							pattern="dd.MM.yyyy HH:mm" 
							mindate="#{createEventManagedBean.currentDate}" required="true"
							requiredMessage="Der Starttermin darf nicht leer sein!"
							readOnlyInputText="#{true}">
								<p:ajax update="end"/>
							</p:calendar>
					</div>

					<div class="form-group">
						<p:outputLabel for="end" value="Ende:" />
						<br />
						<p:calendar id="end" class="inputText"
							value="#{createEventManagedBean.newEvent.end}" locale="de"
							pattern="dd.MM.yyyy HH:mm"
							mindate="#{createEventManagedBean.newEvent.start}" required="true"
							requiredMessage="Der Endtermin darf nicht leer sein!"
							readOnlyInputText="#{true}" />
					</div>

					<div class="form-group">
						<p:outputLabel for="editor" value="Bearbeiter:" />
						<br />
						<p:selectOneMenu id="editor" required="true"
							requiredMessage="Der Bearbeiter darf nicht leer sein!"
							value="#{createEventManagedBean.usernameOfEditor}" class="inputText">
							<f:selectItem itemValue="#{null}" itemLabel="Wählen Sie einen Benutzer..."/>
							<f:selectItems
								value="#{userManagedBean.allUsernamesWithWritingPermission}" />
						</p:selectOneMenu>
					</div>

					<h:commandLink class="btn btn-primary pull-right create-btn"
						action="#{createEventManagedBean.createEvent}">Veranstaltung anlegen</h:commandLink>
				</h:form>
			</div>
		</div>
	</div>

	<sefb:footer />
	<sefb:js-footer />

</h:body>
</html>