<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<f:metadata>
	<f:viewParam name="eventId" value="#{testprocessManagedBean.eventId}" />
	<f:viewAction action="#{testprocessManagedBean.onLoad}" />
</f:metadata>

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">
		<h:link class="backButton"
			outcome="/authentifiziert/veranstaltungen.xhtml">
			<span class="glyphicon glyphicon-arrow-left" /> Zurück zu Veranstaltungen
		</h:link>

		<h:form id="wizardFormId">
			<h2 class="sideHeadline">#{testprocessManagedBean.event.eventname}:
				#{testprocessManagedBean.currentTeststep.teststepname}</h2>

			<p:panelGrid class="completionTestStepTable">
				<f:facet name="header">
					<p:row>
						<p:column colspan="6">
							<h:outputText value="Kriterien" />
						</p:column>
						<p:column colspan="2">
							<h:outputText value="Punktwert" />
						</p:column>
						<p:column colspan="2">
							<h:outputText value="erfüllt?" />
						</p:column>
						<p:column colspan="2"
							rendered="#{testprocessManagedBean.currentTeststep.irrelevantAllowed}">
							<h:outputText value="irrelevant?" />
						</p:column>
					</p:row>
				</f:facet>


				<ui:repeat var="testcriterion"
					value="#{testprocessManagedBean.currentTeststep.testcriteria}">

					<p:row>
						<p:column colspan="12">
							<h4>
								<h:outputText value="#{testcriterion.testcriterionname}" />
							</h4>
						</p:column>
						<ui:repeat var="testsubcriterion"
							value="#{testcriterion.testsubcriteria}">
							<p:row>
								<p:column colspan="6">
									<h:outputText class="testsubcriterionname"
										value="#{testsubcriterion.testsubcriterionname}" />
								</p:column>
								<p:column colspan="2">
									<h:outputText value="#{testsubcriterion.score}" />
								</p:column>
								<p:column colspan="2">
									<p:selectBooleanCheckbox value="#{testsubcriterion.fulfilled}"
										disabled="#{testsubcriterion.irrelevant}">
										<p:ajax update="@form"
											listener="#{testprocessManagedBean.saveFulfilled(testsubcriterion)}" />
									</p:selectBooleanCheckbox>
								</p:column>
								<p:column colspan="2"
									rendered="#{testprocessManagedBean.currentTeststep.irrelevantAllowed}">
									<p:selectBooleanCheckbox value="#{testsubcriterion.irrelevant}">
										<p:ajax update="@form"
											listener="#{testprocessManagedBean.saveIrrelevant(testsubcriterion)}" />
									</p:selectBooleanCheckbox>
								</p:column>
							</p:row>
						</ui:repeat>
					</p:row>
				</ui:repeat>
			</p:panelGrid>


			<div class="suggestion">
				<p:panelGrid class="suggestionGrid" columns="2" layout="grid">
					<h:outputLabel value="Erfüllt:" for="completionTeststepRate" />
					<h:outputText id="completionTeststepRate"
						value="#{testprocessManagedBean.calculateRate()} %" />
					<h:outputLabel value="Empfehlung:"
						for="completionTestStepSuggestion" />
					<h:outputText id="completionTestStepSuggestion"
						class="testStepSuggestion"
						value="#{testprocessManagedBean.editingSuggestionLabel}"
						styleClass="#{testprocessManagedBean.editingSuggestionStyleClass}" />
				</p:panelGrid>
			</div>

			<div class="wizardButtons">
				<p:commandButton class="btn btn-danger btn-lg"
					value="Veranstaltung ablehnen"
					action="#{testprocessManagedBean.cancelEvent}"
					disabled="#{testprocessManagedBean.currentEditingSuggestion != enumManagedBean.noEditingSuggestion}">
					<p:confirm header="Bestätigung"
						message="Sind Sie sicher, dass Sie die Veranstaltung endgültig ablehnen möchten?" />
				</p:commandButton>

				<p:commandButton class="btn btn-warning btn-lg"
					value="Veranstaltung zurückweisen"
					action="#{testprocessManagedBean.rejectEvent}"
					disabled="#{testprocessManagedBean.currentEditingSuggestion != enumManagedBean.generalEditingSuggestion}">
					<p:confirm header="Bestätigung"
						message="Sind Sie sicher, dass Sie die Veranstaltung zur Nachbesserung zurückweisen möchten?" />
				</p:commandButton>

				<p:commandButton class="btn btn-primary btn-lg"
					value="Nächster Prüfschritt"
					action="#{testprocessManagedBean.nextStep}"
					disabled="#{testprocessManagedBean.currentEditingSuggestion != enumManagedBean.continuingEditingSuggestion}"
					rendered="#{!testprocessManagedBean.lastStep}">
					<p:confirm header="Bestätigung"
						message="Sind Sie sicher, dass Sie die Veranstaltung in den nächsten Prüfschritt bringen möchten?" />
				</p:commandButton>

				<p:commandButton class="btn btn-success btn-lg"
					value="Veranstaltung genehmigen"
					action="#{testprocessManagedBean.approveEvent()}"
					update="wizardFormId"
					disabled="#{testprocessManagedBean.currentEditingSuggestion != enumManagedBean.continuingEditingSuggestion}"
					rendered="#{testprocessManagedBean.lastStep}">
					<p:confirm header="Bestätigung"
						message="Sind Sie sicher, dass Sie die Veranstaltung gehemigen möchten?" />
				</p:commandButton>
			</div>

		</h:form>
	</div>

	<sefb:footer />
	<sefb:confirmationDialog />
	<sefb:js-footer />

</h:body>
</html>