<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">

	<div class="footerContainer">
		<h:graphicImage library="images" name="bfwLogo.png" class="coorpLogo" />
		<h:graphicImage library="images" name="htwLogo.png" class="coorpLogo" />
		<br/>
		<br/><h:outputText class="footerText" value="Secure Events For Berlin Version 2.0 - In Kooperation der Berliner Feuerwehr und der Hochschule für Wirtschaft und Technik."></h:outputText>
	</div>
</html>