<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<!-- Metainformation -->
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	
		<!-- Title -->
		<title>Secure Events for Berlin</title>
		
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="#{resource['images/favicon.ico']}"/>
		
		<!-- Stylesheets -->
		<h:outputStylesheet library="webjars" name="bootstrap/3.3.6/css/bootstrap.min-jsf.css" />
	    <h:outputStylesheet library="webjars" name="bootstrap/3.3.6/css/bootstrap-theme.min-jsf.css" />
	    <h:outputStylesheet library="webjars" name="font-awesome/4.5.0/css/font-awesome.min-jsf.css" />
	    
	    <h:outputStylesheet library="css" name="main.css" />
	    <h:outputStylesheet library="css" name="forms.css" />
	    <h:outputStylesheet library="css" name="overview.css" />
	    <h:outputStylesheet library="css" name="loginLogout.css" />
	    <h:outputStylesheet library="css" name="testprocess.css" />
	</h:head>
</html>