<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">

<!-- Bootstrap & Jquery JS-->
<h:outputScript library="primefaces" name="jquery/jquery.js"
	target="head" />
<h:outputScript library="webjars"
	name="bootstrap/3.3.6/js/bootstrap.min.js" />
<h:outputScript library="js" name="primefacesLocale.js" />
</html>