<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">

<h:form rendered="#{loginManagedBean.loggedIn}" class="navForm">
	<div class="navbar navbar-default navbar-fixed-top navbarSefb">
		<div class="nav-container">
			<div class="navbar-header sefbLogoHeader">
				<h:link class="navbar-brand sefbLogoBrand"
					outcome="/authentifiziert/veranstaltungen.xhtml">
					<h:graphicImage library="images" name="sefbLogoBrand.png" class="sefbLogo"/>	
				</h:link>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><h:link outcome="/authentifiziert/veranstaltungen.xhtml">
						<span class="glyphicon glyphicon-home nav-glyph" />  Veranstaltungen</h:link></li>
				<li><h:link outcome="/authentifiziert/archiv.xhtml">
						<span class="glyphicon glyphicon-home glyphicon-book" />  Archiv</h:link></li>
				<h:panelGroup rendered="#{loginManagedBean.hasUserAdminPermission}">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button"><span
							class="glyphicon glyphicon-cog nav-glyph" /> Einstellungen <span
							class="caret" /></a>
						<ul class="dropdown-menu">
							<li><h:link outcome="/authentifiziert/benutzer.xhtml"> 
									<span class="glyphicon glyphicon-user nav-glyph" />  Benutzerverwaltung</h:link></li>
							<li><h:link outcome="/authentifiziert/pruefschritte.xhtml">
									<span class="glyphicon glyphicon-th-list nav-glyph" />  Prüfschrittverwaltung</h:link></li>
							<li><h:link outcome="/authentifiziert/aktivitaeten.xhtml">
									<span class="glyphicon glyphicon-edit nav-glyph" />  Aktivitätsübersicht</h:link></li>
						</ul></li>
				</h:panelGroup>
				<li><h:commandLink action="#{loginManagedBean.logout}" >
						<span class="glyphicon glyphicon-log-out" /> Abmelden</h:commandLink></li>
			</ul>
		</div>
	</div>
</h:form>
</html>