<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<h:body>

	<div class="loginFormContainer">

		<h:graphicImage library="images" name="sefbLogoBrand.png"
			class="loginSefbLogo" />
		<br />

		<div class="loginFormWindow">

			<h4 class="loginFormHeader">Bitte Benutzername und Passwort
				eingeben:</h4>

			<h:form id="loginForm">

				<h:messages id="loginFormMessages" class="errorMessages"
					showDetail="true" showSummary="false"/>

				<div class="form-group">
					<h:outputLabel for="username">Benutzername:</h:outputLabel>
					<br />
					<p:inputText class="loginInput" id="username"
						value="#{loginManagedBean.username}" required="true"
						requiredMessage="Der Benutzername darf nicht leer sein!" 
						a:placeholder="Ihr Benutzername"/>
				</div>

				<div class="form-group">
					<h:outputLabel for="password">Passwort:</h:outputLabel>
					<br />
					<p:password class="loginInput" id="password"
						value="#{loginManagedBean.password}" required="true"
						requiredMessage="Das Passwort darf nicht leer sein!" 
						a:placeholder="Ihr Passwort"/>
				</div>

				<h:commandButton
					class="btn btn-primary pull-right loginBtn"
					value="Anmelden" action="#{loginManagedBean.login}" />

			</h:form>

		</div>

		<div class="loginFooter">
			<h:graphicImage library="images" name="bfwLogo.png" class="coorpLogo" />
			<h:graphicImage library="images" name="htwLogo.png" class="coorpLogo" />
		</div>
	</div>
	<sefb:js-footer />
</h:body>
</html>