<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sefb="http://sefb.com/facelets">

<sefb:head />

<f:metadata>
	<f:viewParam name="pruefschrittId"
		value="#{testcriterionManagedBean.currentTeststepId}" />
	<f:viewAction action="#{testcriterionManagedBean.onLoad}" />
</f:metadata>

<h:body>

	<sefb:navbar />

	<div class="underNavContainer">

		<h:link class="backButton"
			outcome="/authentifiziert/pruefschritte.xhtml">
			<span class="glyphicon glyphicon-arrow-left" /> Zurück zur Prüfschrittverwaltung</h:link>

		<h2>#{testcriterionManagedBean.currentTeststep.teststepname}</h2>

		<h:form id="editTeststep">
			<p:outputLabel for="testStepRelevantAllowed" class="testStepLabel">Irrelevante Unterkriterien erlauben: </p:outputLabel>
			<p:selectBooleanCheckbox id="testStepRelevantAllowed" class="irrelevantAllowedCheckbox"
				value="#{testcriterionManagedBean.currentTeststep.irrelevantAllowed}">
				<p:ajax listener="#{testcriterionManagedBean.updateTeststep}" />
			</p:selectBooleanCheckbox>
		</h:form>
		<br/>
		<h:form id="newTeststepcriterionForm" class="newChildHeader">
		<h:messages id="loginFormMessages" class="errorMessages"
			for="newTeststepcriterionInput" showDetail="true" showSummary="false" />
			<p:outputLabel for="newTeststepcriterionInput" class="testStepLabel">Kriteriumname: </p:outputLabel>
			<p:inputText id="newTeststepcriterionInput" class="newChildHeaderEleInput"
				value="#{testcriterionManagedBean.newTestcriterion.testcriterionname}"
				required="true"
				requiredMessage="Der Testkriteriumname darf nicht leer sein!" 
				a:placeholder="Name des neuen Kriteriums"/>
			<h:commandLink class="btn btn-primary newChildHeaderBtn"
				action="#{testcriterionManagedBean.addTestcriterion}">Kriterium anlegen</h:commandLink>
		</h:form>

		<h:panelGroup id="allTestcriteria" layout="block">
			<h:dataTable class="table table-hover" var="testcriterion"
				value="#{testcriterionManagedBean.currentTeststep.testcriteria}"
				binding="#{dataTableManagedBean.htmlDataTable}"
				rendered="#{not empty testcriterionManagedBean.currentTeststep.testcriteria}"
				columnClasses="criterionRowLabel,criterionRowSubs,criterionRowNewSubBtn,criterionRowDeleteSubBtn">

				<h:column>
					<f:facet name="header">Name</f:facet>
					<h:outputText value="#{testcriterion.testcriterionname}" />
				</h:column>

				<h:column>
					<f:facet name="header">Unterkriterien (Unterkriteriumname, Punktwert)</f:facet>
					<ui:repeat var="testsubcriterion"
						value="#{testcriterion.testsubcriteria}">
						<ul class="testsubcriterionlist">
							<li>#{testsubcriterion.testsubcriterionname}, #{testsubcriterion.score}</li>
						</ul>
					</ui:repeat>
				</h:column>

				<h:column>
					<h:form>
						<p:commandLink onclick="PF('subcriterionDLG').show();"
							actionListener="#{testcriterionManagedBean.setSelectedTestcriterion(testcriterion)}">
							<span class="glyphicon glyphicon-plus" /> Unterkriterium anlegen
						</p:commandLink>
					</h:form>
				</h:column>

				<h:column>
					<h:form>
						<p:commandLink
							action="#{testcriterionManagedBean.deleteTestcriterion}"
							actionListener="#{testcriterionManagedBean.setSelectedTestcriterion(testcriterion)}"
							update="allTestcriteria">
							<p:confirm header="Bestätigung"
								message="Sind Sie sicher, dass Sie das Kriterium #{testcriterion.testcriterionname} endgültig löschen möchten?" />
							<span class="glyphicon glyphicon-trash" /> Löschen
						</p:commandLink>
					</h:form>
				</h:column>
			</h:dataTable>

			<h4>
				<h:outputText value="Es wurden bisher keine Kriterien angelegt."
					rendered="#{empty testcriterionManagedBean.currentTeststep.testcriteria}" />
			</h4>

		</h:panelGroup>
	</div>

	<p:dialog header="Neues Unterkriterium anlegen"
		widgetVar="subcriterionDLG" showEffect="fade" closable="false"
		resizable="false" modal="true">
		<p:growl id="growl" showDetail="true" for="newSubcriterionForm"/>
		<h:form id="newSubcriterionForm">
			<p:outputLabel for="newTestsubcriterionName">Name:</p:outputLabel>
			<br />
			<p:inputText id="newTestsubcriterionName" class="newTestsubcriterion"
				value="#{testcriterionManagedBean.newTestsubcriterion.testsubcriterionname}" 
				a:placeholder="Name des neuen Unterkriteriums"/>
			<br />
			<br />
			<p:outputLabel for="newTestsubcriterionName">Punktwert:</p:outputLabel>
			<br />
			<p:inputText id="newTestsubcriterionScore" class="newTestsubcriterion" 
				value="#{testcriterionManagedBean.newTestsubcriterion.score}" 
				a:placeholder="Punktwert des neuen Unterkriteriums"/>
			<br />
			<h:commandLink
				class="btn btn-primary pull-right newTestsubcriterionBtn"
				oncomplete="subcriterionDLG.hide()">Abbrechen</h:commandLink>
			<p:commandLink
				class="btn btn-primary pull-right newTestsubcriterionBtn"
				action="#{testcriterionManagedBean.addTestsubcriterion}"
				update="growl">Anlegen</p:commandLink>
		</h:form>
	</p:dialog>

	<sefb:footer />
	<sefb:confirmationDialog />
	<sefb:js-footer />

</h:body>
</html>